* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: #eceff4;
    position: relative;
    top: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 75px;
    padding: 0 2em;
}
.header-left {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-grow: 1;
}

.slika {
    width: auto;
    height: 50px;
}

.header-right {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.title {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
}

.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: black;
}
.popup .close:hover {
color: red;
}
.popup .content {
max-height: 30%;
overflow: auto;
}

@media screen and (max-width: 700px){
.box{
    width: 70%;
}
.popup{
    width: 70%;
}
}

.navigation {
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    overflow: hidden;
}

.navigation ul li {
    display: inline;
    float: left;
    display: list-item;
}

.navigation ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

.navigation ul li a:hover {
    background-color: darkgrey;
}

.navigation .odjava {
    float: right;
}

.footer {
    text-align: center;
    width: 100%;
    background-color: #eceff4;
    position: fixed;
    bottom: 0;
    display: inline-flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 75px;
    padding: 0 2em;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: auto;
    height: 50px;
}

.footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer ul li {
    display: inline;
    float: left;
    display: list-item;
}

.footer .podatci {
    display: flex;
    align-items: center;
}

@media print {
    .footer, .header, .navigation {
        display: none;
    }
    .sadrzaj {
        display: block;
        width: 100%;
        filter: grayscale(100%);
        font-family: sans-serif;
        text-size-adjust: 12pt;
    }
}